<footer class="footer">
	<small>Property Investment 2017</small>
	<nav>
		<ul>
			<li><%= link_to 'Sell', sell_path %></li>
			<li><%= link_to 'Buy', buy_path %></li>
			<li><%= link_to 'Share', share_path %></li>
		</ul>
	</nav>
</footer>