<header class="navbar navbar-fixed-top navbar-inverse">

	<div class="container">
		<%= link_to 'Property Investment', root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Sell', sell_path, id: "navi" %></li>
				<li><%= link_to 'Buy', buy_path, id: "navi"%></li>
				<li><%= link_to 'Share', share_path, id: "navi" %></li>
			</ul>
		</nav>
	</div>
</header>

